<div class="container">
		<header>
			<!--Left Arrow Image
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpN381iKtplmNq7YepCtfIGJZJ1kE-U8CztH7fW-HaOVuotVZp9g" class="backButton"/>-->
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6983-200.png" class="searchButton"/>
			<h3 ui-sref='initialView'>DevMountain</h3>
			<!--Magnifying glass-->
			<img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" class="hamburger"/>
		</header>
		
		<hr />
		<div class="columns">
			<!--Left Column-->
			<!--<div class='left'>
				
				<h3>
					Welcome to <span class="devMountainColor">DevMountain</span> Social
					<br />
					Add Some Info So Friends Can Find You
				</h3>
				<input type="text" placeholder="Full Name" class="initialViewInput">
				<input type="text" placeholder="Tagline" class="initialViewInput">
				<input type="text" placeholder="Profile Image URL" class="initialViewInput">
				<input type="text" placeholder="Bio" class="initialViewInput" id="bio">
				
				<button class="saveChanges">Save Changes</button>	
			</div>-->

			<div class='left'>
                <h1 style="text-align: left">Chris</h1>
                <h1 style="text-align: right">Johnson</h1>

                <h2>Some awesome tagline about you</h2>

                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus feugiat convallis. In in ullamcorper est. Morbi leo justo, elementum id placerat non, iaculis non elit. Morbi vestibulum malesuada sapien, fringilla imperdiet nisl malesuada us. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed molestie metus.</h3>
                <br>
                <h3>Praesent nec cursus felis. Nullam ultrices, mauris non aliquet tristique, magna es interdum justo, non laoreet diam elit tincidunt urna. Proin sed lectus vitae urna auctor pretium sit amet sed quam.</h3>
            </div>

			<!--Right Column-->
			<div class="right">
				<!--<img class="logo" src="./images/triangles.jpg"></img>-->
				<div style="display: flex; justify-content: space-between; border: 1px solid gray; padding: 5px 5px">
					<button ng-click=""><h2>Ascending</h2></button>
					<h2>Friends</h2>
					<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6983-200.png" class="searchButton" style="margin-bottom: 5px !important"/>
				</div>
			</div>
		</div>
		<hr />
		<footer>
			<div class='footerClickers' ui-sref="friendsView">View Friends</div>
			<div class='footerClickers' ui-sref="searchFriends">Find Friends</div>
			<div class='footerClickers' ui-sref="updateProfile">Update Profile</div>
		</footer>
	</div>