<div class="container">
		<header>
			<!--Left Arrow Image
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpN381iKtplmNq7YepCtfIGJZJ1kE-U8CztH7fW-HaOVuotVZp9g" class="backButton"/>-->
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6983-200.png" class="searchButton"/>
			<h3 ui-sref='initialView'>DevMountain</h3>
			<!--Magnifying glass-->
			<!--<img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" class="hamburger"/>-->
			<div class="dropdown">
				<button onclick="dropDown()" class="dropbtn"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" class="hamburger"/></button>
				<div id="myDropdown" class="dropdown-content">
					<p ui-sref="landingPage">My Profile</p>
					<p ui-sref="updateProfile">Update Profile</p>
				</div>
			</div>
		</header>
		
		<hr />
		<div class="columns">
			<!--Left Column-->

			<!--<div class='left'>
				
				<h3>
					Welcome to <span class="devMountainColor">DevMountain</span> Social
					<br />
					Add Some Info So Friends Can Find You
				</h3>
				<input type="text" placeholder="Full Name" class="initialViewInput">
				<input type="text" placeholder="Tagline" class="initialViewInput">
				<input type="text" placeholder="Profile Image URL" class="initialViewInput">
				<input type="text" placeholder="Bio" class="initialViewInput" id="bio">
				
				<button class="saveChanges">Save Changes</button>	
			</div>-->

			<div class='left'>
                <p class="firstName">Chris</p>
                <p class="lastName">Johnson</p>

                <h2>Some awesome tagline about you</h2>

                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus feugiat convallis. In in ullamcorper est. Morbi leo justo, elementum id placerat non, iaculis non elit. Morbi vestibulum malesuada sapien, fringilla imperdiet nisl malesuada us. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed molestie metus.</h3>
                <br>
                <h3> Praesent nec cursus felis. Nullam ultrices, mauris non aliquet tristique, magna es interdum justo, non laoreet diam elit tincidunt urna. Proin sed lectus vitae urna auctor pretium sit amet sed quam.</h3>
            </div>
			
			<!--Right Column-->
			<div class="right">
				<div style="display: flex; justify-content: space-around;">
					<input style="width: 83%; height: 30px; margin-bottom: 10px;" placeholder="Search for Friends" ng-model="friends.name"></input>
					<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6983-200.png" class="searchFriendsButton" style="text-align: right; margin-left: 5%;"/>
					<!--<button style="width: 15%; margin-bottom: 10px;"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6983-200.png" class="searchFriendsButton" ui-sref="searchButton" style="text-align: right; margin-left: 10%;"/></button>-->
				</div>
				<div style="display: flex; flex-wrap: wrap; overflow: scroll; width: 100%; margin-left: 5%; height: 100%;">
					<div ng-repeat='friend in friendsList | filter: friends' ng-source="{{friend.profileURL}}">
							<!--<p>{{friend.name}}</p>-->

						<div style="">
							<img ng-src="{{friend.profileUrl}}" style="width: 200px; height: calc(100% / 3);"></img>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<footer>
			<div class='footerClickers' ui-sref="friendsView">View Friends</div>
			<div class='footerClickers' ui-sref="searchFriends">Find Friends</div>
			<div class='footerClickers' ui-sref="updateProfile">Update Profile</div>
		</footer>
	</div>